<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link href="/static/signup_style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="box">
      <div class="container">
        <h1 class="heading">Sign Up</h1>
        {{ if .AlertMessage }}
        <div class="alert" style="text-align: center; background-color: wheat">
          {{ .AlertMessage }}
        </div>
        {{ end }}

        <form action="/signup" method="post">
          <div class="form_input">
            <div class="user_form">
              <input
                type="text"
                class="name"
                placeholder="UserName"
                name="name"
                required
              />
              <img src="/static/user-svgrepo-com.svg" alt="user_image" />
            </div>
            <div class="password_form">
              <input
                type="password"
                class="password"
                placeholder="Password"
                name="password"
                required
              />
              <img
                src="/static/password-lock-solid-svgrepo-com.svg"
                alt="password_img"
              />
            </div>
          </div>
          <div class="btn">
            <button type="submit"><strong>Sign Up</strong></button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
